---
import Layout from "../layouts/Layout.astro";
const title = "About Price of Goods"
const description = "Everything you wanted to know about the priceofgoods.com"
---

<Layout title={title} description={description}>
    <h1>About Price of Goods</h1>
    <p>Welcome to priceofgoods.com! This site is dedicated to tracking the prices of essential goods in the United States. We provide live updates on the costs of eggs, milk, bread, and gas, along with historical price trends. Our goal is to help you make informed decisions about your daily purchases.</p>
    <p>Our data is sourced from the U.S. Bureau of Labor Statistics and is updated daily. We hope you find our site useful and informative. If you have any questions or feedback, please don't hesitate to reach out to us.</p>

</Layout>
