<footer>
    <div>
        <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
            <p class="text-center text-base text-gray-400">
            &copy; 2025 Price of Goods. All rights reserved.
            </p>
        </div>
    </div>
</footer>
